@model IEnumerable<AppCrudCore.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
}

<section class="main-container">
    <div class="glass-card table-page">
        <header class="table-header">
            <div class="header-content">
                <h1 class="title">Lista de Usuarios</h1>
                <p class="subtitle">Gestiona a tus usuarios de manera simple</p>
            </div>
            <a asp-controller="Usuario" asp-action="Create" class="btn btn-success mb-3">Nuevo</a>
        </header>
        <form method="get" class="filter-bar">
            <select name="RolId" asp-items="ViewBag.Roles">
                <option value="">Todas</option>
            </select>

            <select name="activo">
                <option value="">Todos</option>
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>

            <button type="submit" class="btn-create">Filtrar</button>
        </form>
        <div class="table-responsive">
            <table class="modern-table">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre Completo</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Fecha Regristo</th>
                        <th> Ultimo Login</th>
                        <th> Activo </th>
                        <th>Rol</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
                            <td>@Html.DisplayFor(modelItem => item.NombreCompleto)</td>
                            <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                            <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaRegistro)</td>
                            <td>@Html.DisplayFor(modelItem => item.UltimoLogin)</td>
                            <td>
                                @if (item.Activo)
                                {
                                    <span class="dot-green" title="Activo"></span>
                                }
                                else
                                {
                                    <span class="dot-red" title="Inactivo"></span>
                                }
                            </td>
                            <td> @Html.DisplayFor(modelItem => item.Rol.Nombre)</td>
                            <td>
                                <a asp-action="Edit" class="btn-custom btnEdit" asp-route-id="@item.IdUsuario">Editar</a> |
                                <a asp-action="Details" class="btn-custom btnDetails"  asp-route-id="@item.IdUsuario">Detalles</a> |
                                <a asp-action="Delete" class="btn-custom btnDelete"  asp-route-id="@item.IdUsuario">Borrar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
