@model AppCrudCore.Models.Libro

@{
    ViewData["Title"] = "Eliminar Libro";
}

<section class="main-container">

    <div class="glass-card">

        <!-- HEADER -->
        <div class="form-header">
            <h1 class="title text-danger">
                ⚠ Eliminar Libro
            </h1>

            <p class="subtitle">
                Esta acción no se puede deshacer
            </p>
        </div>
        <div class="summary-card"
             style="border-color:#ef4444;
                    background:rgba(239,68,68,0.08);">

            <div class="summary-item">
                <span class="label">Libro</span>
                <span class="value">@Model.Titulo</span>
            </div>

            <div class="summary-item">
                <span class="label">Autor</span>
                <span class="value">@Model.Autor</span>
            </div>

            <div class="summary-item total">
                <span class="label">Categoría</span>
                <span class="value">
                    @Model.Categoria?.Nombre
                </span>
            </div>

        </div>

        <div class="separator"></div>

        <div class="form-grid">

            <div class="detail-block">
                <span class="field-label">ISBN</span>
                <div class="detail-value">@Model.ISBN</div>
            </div>

            <div class="detail-block">
                <span class="field-label">Precio</span>
                <div class="detail-value price-cell">
                    ₡ @Model.PrecioVenta
                </div>
            </div>

            <div class="detail-block">
                <span class="field-label">Stock Total</span>
                <div class="detail-value">
                    @Model.StockTotal
                </div>
            </div>

            <div class="detail-block">
                <span class="field-label">Estado</span>

                @if (Model.Activo)
                {
                    <span class="status-pill activo">
                        Activo
                    </span>
                }
                else
                {
                    <span class="status-pill pendiente">
                        Inactivo
                    </span>
                }

            </div>

        </div>

        <div class="separator"></div>
        <form asp-action="Delete">

            <input type="hidden" asp-for="IdLibro" />

            <div class="actions">

                <button type="submit"
                        class="btn-custom btnDelete">
                    🗑 Confirmar Eliminación
                </button>

                <a asp-action="Index"
                   class="btn-custom btnDetails">
                    ← Cancelar
                </a>

            </div>

        </form>

    </div>

</section>